{% extends 'base.html' %}
{% block content %}
<div class="grow">
	<div class="container">
		<h2>Restoring access</h2>
	</div>
</div>
<div class="container">
	<div class="account">
        <div class="col-md-9 pb-25">
        <h4>
            We have sent you instructions on how to restore access by email,
            if an account exists on the email address you provided.
            You should receive a letter shortly
        </h4>
        <br>
        <h4>
            If you have not received your email, please make sure
            that you entered the address you registered and check your spam folder.
        </h4>
    </div>
    </div>
</div>

{% endblock %}